container_commands:
  00-link-node:
    command: "sudo ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-* | head -1`/bin/npm /bin/npm"
  01-link-npm:
    command: "sudo ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-* | head -1`/bin/node /bin/node"
  02-automigrate:
    command: "npm run autoupdate"
  03-seed:
    command: "node ./server/seed/tokens.js"