<h2>Reset Your Password</h2>

<form action="/api/accounts/reset-password?access_token=<%= access_token %>" method="POST" id="form">
  <h4>Please make sure your password includes:</h4>
  <ul>
    <li>6 characters minimum</li>
    <li>At least a number (0-9)</li>
  </ul>
  Password <input name="password" type="password" /> </br><br />
  Confirm <input name="confirm" type="password" />
  <input name="access_token" type="hidden" value="<%= access_token %>"/> <br /><br />
  <input id="formSubmit" type="submit" />
  <script type="text/javascript">
    var form = document.getElementById('form');
    function validate() {
      var password = form.elements["password"].value;
      var confirm = form.elements["confirm"].value;
      var accessToken = form.elements["access_token"].value;

      if (!accessToken) {
        alert("invalid request");
        return false;
      }

      if (password !== confirm) {
        alert("Password and confirm must match");
        return false;
      }

      if (!(/\d/.test(password))) {
        alert("Password must contain a number");
        return false;
      }

      if (password.length < 6) {
        alert("Password must be at least 6 characters");
        return false;
      }

      return true;
    }

    document.getElementById('formSubmit').onclick = validate;
  </script>
</form>
