NODE_ENV=production
DB_HOST=54.191.98.242
DB_PORT=8529
DB_USER=root
DB_PASSWORD=arangodb
DB_DATABASE=tokens-api
REDIS_HOST=tokens-api.glkych.0001.usw2.cache.amazonaws.com
REDIS_PORT=6379
STATSD_HOST=statsd.hostedgraphite.com
STATSD_PORT=8125
STATSD_PREFIX=dccb31dd-efbd-4bad-ac2c-8903e3e3df4a
INFLUXDB_HOST=localhost
INFLUXDB_DB=tokens
INFLUXDB_USERNAME=root
INFLUXDB_PASSWORD=root